body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.offCanvasSnake {
    width: 90%;
    
}

.btn-circle {
    width: 10rem;
    height: 10rem;
    padding: 10px 10px;
    border-radius: 50%;
    /* font-size: 80%; */
    text-align: center;
    margin-bottom: 25px; 
    box-shadow: -3px 3px 3px 3px rgb(141, 141, 141);
}

.btn1-circle {
    width: 5rem;
    height: 5rem;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 200%;
    font-weight:bold;
    text-align: center;
    margin-bottom: 25px; 
}

  